html {
  position: absolute;
  display: block;

  &:hover .foo {
    display: none;
  }

  .foo {
    display:block;
    position: absolute;
  }
  &:hover {
    .foo_bar_baz {
      display: none;
    }
  }
}
